{% extends 'pharmacyapp/base_extends.html' %}
{% block body_block%}
{% if billGeneration %}
    <div id="printarea">
    <caption><h1>Shree Sai Drug Store</h1></caption>
    <a> Bill No: {{billGeneration.0.billNo}}</a></br>
    <a> Bill Date: {{billGeneration.0.billDate}}</a></br>
    <a> ID : {{billGeneration.0.patientID.patientID}}</a></br>
    <a> Name: {{billGeneration.0.patientID.patientName}}</a></br>
    <a> Contact Details : {{billGeneration.0.patientID.patientPhoneNo}}</a></br>
	<table id="cartMeds">
        <tbody>
		<tr>
			<th>Product Name</th>
			<th>Batch No</th>
			<th>Date of Expiry</th>
			<th>Tablet/Unit Price</th>
			<th>Quantity Ordered</th>
			<th>Price</th>
			<th>Discount %</th>
			<th>Price after Discount</th>
		</tr>
		{% for billDetail in billGeneration %}
		<tr>
			<td>{{ billDetail.medicineName }}</td>
			<td>{{ billDetail.batchNo }}</td>
			<td>{{ billDetail.expiryDate }}</td>
			<td>{{ billDetail.pricePerTablet }}</td>
			<td>{{ billDetail.noOfTabletsOrdered }}</td>
			<td>{{ billDetail.totalPrice }}</td>
			<td>{{ billDetail.discount }}</td>
			<td>{{ billDetail.discountedPrice }}</td>
		</tr>
		{% endfor %}
		<tr>
		    <th> Total Bill</th>
		    <th></th>
		    <th></th>
		    <th></th>
		    <th></th>
		    <th id="TP"></th>
		    <th></th>
		    <th id="TDP"></th>
		</tr>
        </tbody>
    </table>
    </div>
    {% if user.is_authenticated %}
    <script type="text/javascript" src="/static/js/jscript-queries.js"></script>
    <input type="button" onclick="printDiv('printarea')" value="Print" />
    <a <button type="submit" class="save btn btn-default" href="/">Home</button></a>
    {% endif %}
{% else %}
	<a <button type="submit" class="save btn btn-default" href="/">Home</button></a>
{% endif %}

{% if billGeneration %}
    <body onload="finishTable();">
    <script type="text/javascript" src="/static/js/jscript-queries.js"></script>
    </body>
{% endif %}

{% endblock %}

