{% extends 'pharmacyapp/base.html' %}

{% block sidenav_block %}
    <h3>Welcome!!</h3>
    <p>----FA=requently Asked Questions----</p>
    <li>Inventory: list of Medicines in stores</li>
    <li>Bill:      Generate the Bill</li>
    <li>Report:    see days sales/Returns</li>
{% endblock %}

{% block body_block%}
    <h3><font size="30" color="green">M H Medical Store</font></h3><br>
    <h3><font color="green">4/204-A Firdaus Nagar</font></h3><br>
    <h3><font color="green">Qila Road, Aligarh</font></h3>
{% endblock %}