{% extends 'pharmacyapp/base.html' %}

{% block sidenav_block %}
    <h3>Welcome!!</h3>
    <p>----FAQ: Frequently Asked Questions----</p>
    <li>Inventory: list of Medicines in stores</li>
    <li>Bill:      Generate the Bill</li>
    <li>Report:    see days sales/Returns</li>
{% endblock %}

{% block body_block%}
    <h3 class="newClass"><font size="30" color="green">M H Medical Store</font></h3><br>
    <h3 class="newClass"><font color="green">4/204-A Firdaus Nagar</font></h3><br>
    <h3 class="newClass"><font color="green">Qila Road, Aligarh</font></h3>
    <img src="..\static\images\hospital1.jpg" alt="Welcome" style="width:304px;height:228px;">
{% endblock %}