{% extends 'pharmacyapp/base.html' %}

{% block sidenav_block %}
	<h4>Add New Products in Stock</h4>
	<a <button type="submit" class="save btn btn-default" href="{% url 'post_new' %}">Add</button></a>
{% endblock %}


{% block body_block %}

	{% if messages %}
	<h2 class="messages">
		{% for message in messages %}
		<a{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
		{% endfor %}
	</h2>
	{% endif %}

	</body>
	<table>
		<caption><h1>Products in Stock</h1></caption>
		<tr>
			<th>Product Name</th>
			<th>Batch No</th>
			<th>Date of Expiry</th>
			<th>Unit Price</th>
			<th>Remaining units/tablets in stock</th>
		</tr>
		{% for post in posts %}
		<tr>
			{% if user.username == "admin" or user.username == "saurabhg" %}
			<td><a href="{% url 'post_detail' pk=post.pk %}">{{ post.medicineName }}</a></td>
			{% else %}
			<td>{{ post.medicineName }}</td>
			{% endif %}
			<td>{{ post.batchNo }}</td>
			<td>{{ post.expiryDate}}</td>
			<td>{{ post.pricePerTablet}}</td>
			<td>{{ post.noOfTabletsInStores}}</td>
		</tr>
		{% endfor %}
		</table>

{% endblock body_block%}