{% extends 'pharmacyapp/base.html' %}

{% block body_block %}
	{% if messages %}
	<h2 class="messages">
		{% for message in messages %}
		<a{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
		{% endfor %}
	</h2>
	{% endif %}

	<table>
		<caption><h1>Product Details </h1></caption>
		<tr>
			<th>Product Name</th>
			<th>Batch No</th>
			<th>Date of expiry</th>
			<th>Tablets per strip/Units per pack</th>
			<th>Strip/Pack purchased</th>
			<th>Free sample(s)</th>
			<th>Strip/Pack price</th>
			<th>VAT (%)</th>
			<th>SAT (%)</th>
			<th>Add. Tax (%)</th>
			<th>Net Purchase Price</th>
			<th>M.R.P.</th>
			<th>Date of purchase</th>
			<th>Total Tablets/Units</th>
			<th>Tablet/Unit price</th>
			<th>Tablets/Units Sold</th>
			<th>Remaining tablets/units in stock</th>
		</tr>
		<tr>
			<td><a href="{% url 'post_detail' pk=post.pk %}">{{ post.medicineName }}</a></td>
			<td>{{ post.batchNo }}</td>
			<td>{{ post.expiryDate}}</td>
			<td>{{ post.pack }}</td>
			<td>{{ post.quantity}}</td>
			<td>{{ post.freeArticles}}</td>
			<td>{{ post.pricePerStrip}}</td>
			<td>{{ post.vat}}</td>
			<td>{{ post.sat}}</td>
			<td>{{ post.addTax}}</td>
			<td>{{ post.netPurchasePrice}}</td>
			<td>{{ post.mrp }}</td>
			<td>{{ post.dateOfPurchase }}</td>
			<td>{{ post.noOfTablets}}</td>
			<td>{{ post.pricePerTablet}}</td>
			<td>{{ post.noOfTabletsSold}}</td>
			<td>{{ post.noOfTabletsInStores}}</td>
		</tr>
	</table>
	{% if user.is_authenticated %}
	<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">Edit Record</a>
	<a class="btn btn-default" href="{% url 'post_list' %}">Inventory</a>
	{% endif %}

{% endblock body_block%}