{% extends 'pharmacyapp/base.html' %}

{% block sidenav_block %}
	<h4>Add New Products in Stock</h4>
	<a <button type="submit" class="save btn btn-default" href="{% url 'post_new' %}">Add</button></a>
{% endblock %}


{% block body_block %}

	{% if messages %}
	<h2 class="messages">
		{% for message in messages %}
		<a{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
		{% endfor %}
	</h2>
	{% endif %}
    <caption><h1>Products in Stock</h1></caption>

    <ul class="nav nav-tabs">
        <li class="nav-item active">
            <a class="nav-link" id="Ob_Gyn-tab" data-toggle="tab" href="#Ob_Gyn">Ob_Gyn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="Urology-tab" data-toggle="tab" href="#Urology">Urology</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="Common-tab" data-toggle="tab" href="#Common">General Medicine</a>
        </li>
        <li class="nav-item">
		    <a class="nav-link" id="expired_nill-tab" data-toggle="tab" href="#expired_nill">Expired or Out Of Stock</a>
        </li>
    </ul>

<div class="tab-content">
    <div id="Ob_Gyn" class="tab-pane {% if not active_tab or active_tab == 'stock-table-obgyn' %}show active{% endif %}">
        <!-- Content for Obs and Gyn -->
        {% include 'pharmacyapp/med_list.html' with posts=Ob_Gyn table_id="stock-table-obgyn" %}
    </div>
    <div id="Urology" class="tab-pane {% if active_tab == 'stock-table-urology' %}show active{% endif %}">
        <!-- Content for Urology -->
        {% include 'pharmacyapp/med_list.html' with posts=Urology table_id="stock-table-urology" %}
    </div>
    <div id="Common" class="tab-pane {% if active_tab == 'stock-table-common' %}show active{% endif %}">
        <!-- Content for General Medicines-->
        {% include 'pharmacyapp/med_list.html' with posts=Common table_id="stock-table-common" %}
    </div>
    <div id="expired_nill" class="tab-pane {% if active_tab == 'stock-table-expired' %}show active{% endif %}">
        <!-- Content for expired or out of stock medicine -->
        {% include 'pharmacyapp/med_list.html' with posts=expired_nill table_id="stock-table-expired" %}
    </div>
</div>



{% endblock body_block%}